<p id="notice"><%= notice %></p>




<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Posts</h1>
      <div class="products">
        <% @posts.each do |post| %>
        <div class="product clearfix">
          <div class="">
            <h1> <%= link_to post.title , post_path(post) %></h1>
            <p><%= user.email %>></p>
            <span><%= post.updated_at%></span>

            <p><%= post.body %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
